.article1{
    text-decoration:none;
    /* display:flexbox; */
}
.article2{
    text-decoration:none;
}
.article3{
    text-decoration:none;
}
.article4{
    text-decoration:none;
}
.article5{
    text-decoration:none;
}
.article6{
    text-decoration:none;
}
.article7{
    text-decoration:none;
}
.article8{
    text-decoration:none;
}
.article9{
    text-decoration:none;
}
.article10{
    text-decoration:none;
}
.article11{
    text-decoration:none;
}
